<section class="market-grid-shell" [ngClass]="gridClass()" [ngStyle]="cssVariables()">
  @if (loading()) {
    <mat-progress-bar mode="indeterminate" />
  }

  <div
    class="market-grid-shell__viewport ag-theme-quartz"
    [class.market-grid-shell__viewport--product-links]="productDetailsOnSymbolClick()"
  >
    <ag-grid-angular
      class="market-grid-shell__grid"
      [columnDefs]="columnDefs()"
      [gridOptions]="mergedGridOptions()"
      [rowData]="renderedRows()"
      [suppressContextMenu]="false"
      [rowModelType]="'clientSide'"
      (gridReady)="onGridReady($event)"
      (rowClicked)="onRowClicked($event)"
      (cellClicked)="onCellClicked($event)"
      (cellDoubleClicked)="onCellDoubleClicked($event)"
      (cellContextMenu)="onCellContextMenu($event)"
      (columnMoved)="onColumnStateChange($event)"
      (columnPinned)="onColumnStateChange($event)"
      (columnResized)="onColumnStateChange($event)"
      (columnVisible)="onColumnStateChange($event)"
      (sortChanged)="onColumnStateChange($event)"
      (filterChanged)="onColumnStateChange($event)"
    />
  </div>

  @if (contextMenu(); as menu) {
    <div class="market-grid-shell__context-menu" [style.left.px]="menu.x" [style.top.px]="menu.y">
      @for (action of contextMenuActions(); track action.id) {
        <button
          type="button"
          [disabled]="isActionDisabled(action, menu.row)"
          (click)="runContextAction(action, menu.row)"
        >
          {{ action.label }}
        </button>
      }
    </div>
  }
</section>
